{% extends "base.html" %}
{% block content %}
<main>
   <div class="container mt-4">
      <div class="table-responsive text-nowrap">
         <h2>Order Summary</h2>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item title</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Item Price</th>
               </tr>
            </thead>
            <tbody>
               {% for order_item in object.items.all %}
               <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href="{{order_item.item.get_absolute_url}}">{{order_item.item.title}}</a></td>
                  <td>
                     {% if order_item.item.discounted_price %}
                     ₹ {{order_item.item.discounted_price}}
                     <span class="badge badge-primary">Saving ₹ {{ order_item.item.get_single_savings }}</span>
                     {%else%}
                     ₹ {{order_item.item.price}}
                     {%endif %}
                  </td>
                  <td>
                     <a href="{% url 'website:remove_single_item_from_cart' order_item.item.category.slug order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                     {{ order_item.quantity }}
                     <a href="{% url 'website:add_to_cart' order_item.item.category.slug order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                  </td>
                  <td>
                     {% if order_item.item.discounted_price %}
                     ₹ {{ order_item.get_total_discount_price_for_item }}
                     <span class="badge badge-primary">Saving ₹ {{ order_item.get_amount_saved }}</span>
                     {% else %}
                     ₹ {{ order_item.get_total_item_price }}
                     {% endif %}
                     <a style='color: red;' href="{% url 'website:remove_entire_from_cart' order_item.item.category.slug order_item.item.slug %}">
                     <i class="fas fa-trash float-right"></i>
                     </a>
                  </td>
               </tr>
               {% empty %}
               <tr>
                  <td colspan='5'>Your cart is empty</td>
               </tr>
               <tr>
                  <td colspan="5">
                     <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                  </td>
               </tr>
               {% endfor %}
               {% if object.coupon %}
               <tr>
                  <td colspan="4" ><b>Coupon applied -->&nbsp; &nbsp; &nbsp;<span style="font-size: 120%; background: inherit; font-weight: bold">{{object.coupon.coupon_code}}</span></b></td>
                  <td><b>- ₹ {{object.coupon.amount}}</b>
                     <a style='color: red;' href="{% url 'website:remove_coupon' %}">
                     <i class="fas fa-trash float-right">
                     </i>
                     </a>
                  </td>
               </tr>
               {% endif %}
               {% if object.get_grand_total %}
               <tr>
                  <td colspan="4"><b>Order Total</b></td>
                  <td><b style="font-weight:bold;">₹ {{ object.get_grand_total }}</b>
                     {% if object.get_total_savings %}
                     <span class="badge badge-primary">Saving ₹ {{ object.get_total_savings }}</span>
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td colspan="5">
                     <form class="card p-2 float-right ml-2" action="{% url 'website:add_coupon' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                           {{ couponform.code }}
                           <div class="input-group-append">
                              <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
                           </div>
                        </div>
                     </form>
                  </td>
               </tr>
               <tr>
                  <td colspan="5">
                     <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
                     <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                  </td>
               </tr>
               {% endif %}
            </tbody>
         </table>
      </div>
   </div>
</main>
{% endblock content %}
