{% extends "base.html" %}
{% block content %}
<!--Main layout-->
<main>
   <div class="container dark-grey-text mt-5">
   <!--Grid row-->
   <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
         <img src="{{product.img.url}}" class="img-fluid" alt="">
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 mb-4">
         <!--Content-->
         <div class="p-4">
            <div class="mb-3">
               <h5>
                  <a href="{% url 'website:category_detail' product.category.slug %}">
                  <span class="badge purple mr-1">{{product.category}}</span>
                  </a>
               </h5>
            </div>
            <!-- <p class="lead"> -->
            <h2 style="color:black;">
               <strong>
               {% if product.discounted_price %}
               <span class="mr-1">
               <del>₹ {{product.price}}</del>
               </span>
               <span>₹ {{product.discounted_price}}</span>
               {% else %}
               <span >₹ {{product.price}}</span>
               {% endif %}
               </strong>
            </h2>
            <h1 style="color:black;"><strong>{{product.title}}</strong></h1>
            <p>
               {% for sentence in product.displayDescription %}
               {{sentence}}
               <br>
               {% endfor %}
            </p>
            <a class="btn btn-primary btn-md my-0 p" href="{% url 'website:add_to_cart' product.category.slug product.slug %}">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a class="btn btn-danger btn-md my-0 p" href="{% url 'website:remove_single_item_from_cart' product.category.slug product.slug %}">Remove from Cart
            <i class="fas fa-shopping-cart ml-1"></i>
            </a>
         </div>
         <!--Content-->
      </div>
      <!--Grid column-->
   </div>
   <!--Grid row-->
   <hr style=" height:2px ;border-width:0 ; color:gray ; background-color:black">
   <!--Grid row-->
   <div class="row d-flex justify-content-center wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 text-center">
         <h4 class="my-4 h4" style="color:#00264d;">Related Products</h4>
      </div>
      <!--Grid column-->
      <section class="text-center mb-4">
         <!--Grid row-->
         <div class="row wow fadeIn">
            {% for relatedPro in related_products %}
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
               <!--Card-->
               <div class="card">
                  <!--Card image-->
                  <div class="view overlay">
                     <img class="card-img-top" src="{{relatedPro.img.url}}">
                     <a href="{{relatedPro.get_absolute_url}}"  >
                        <div class="mask rgba-white-slight"></div>
                     </a>
                  </div>
                  <!--Card image-->
                  <!--Card content-->
                  <div class="card-body text-center pink lighten-5">
                     <!--Category & Title-->
                     <h5>{{relatedPro.category}}</h5>
                     <h5>
                        <strong>
                        <a href="{{relatedPro.get_absolute_url}}" class="black-text">{{relatedPro.title}}
                        </a>
                        </strong>
                     </h5>
                     <h4 class="font-weight-bold blue-text">
                        <strong>₹
                        {% if relatedPro.discounted_price %}
                        {{relatedPro.discounted_price}}
                        {% else %}
                        {{relatedPro.price}}
                        {%endif %}
                        </strong>
                     </h4>
                  </div>
                  <!--Card content-->
               </div>
               <!--Card-->
            </div>
            {% endfor %}
            <!--Grid row-->
      </section>
      </div>
      <!--Grid row-->
   </div>
</main>
<!--Main layout-->
{% endblock content %}
