{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<main>
  <div class="container">
    <section class="mb-4 mt-6">
      <!--Grid row-->
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Log In" %}</h1>
          <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              {% comment %}
              <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>{% endcomment %}
              <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
  <div class='mt-7'/>
  {% endblock %}
